h3{
  font-family: 'Old Standard TT', serif;
}
#ctop{
  color: #fff;
  background-color:#576F72;
}
.fa-icon{
  padding-right: 5px;
}
.navbar-brand{
  color: #fff;
  font-family: 'Merriweather', serif;
}
.nav-link{
  color: #fff;
  font-family: 'Merriweather', serif;
}
.top{
  margin-top: 5%;
}
.Cart{
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 10px 40px #7D9D9C;
 margin: 20px auto 20px auto;

}
.slidemoveimg{
  margin: 80px 50px 50px 50px;
}
.testimonial-image{
  width: 600px;
  height: 350px;
}
.option{
  padding: 10% 10%;
}
.Obed{
  padding-top: 10px;
}
.space{
  padding-left: 8px;
}
.enter{
  padding-top: 10px;
}
.Omeal{
  padding-top: 5px;
}
.Odate{
  padding-top: 5px;
}
.RInfo{
  padding: 5% 10%;
}
.accordion-body{
  text-align: left;
}
.middle-text{
  padding: 5%;
  text-align: center;
}
.accordion-button{
  font-family: 'Merriweather', serif;
}
.submit-btn{
  margin: 10% auto 0% auto;
}
